{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="icon" sizes=" " type="image/png" href="{% static 'img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>
    {{ a }}



<section class="wrapper-booking">

    <header class="header position-absolute w-100 ">
        <div class="container">
            <nav class="navbar navbar-expand-lg px-3 px-md-0">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo2.svg' %}"
                                                                     class="img-fluid" alt=""
                                                                     srcset=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="{% static 'img/gam2.png' %}" alt="">

                </button>
                <div class=" collapse navbar-collapse justify-content-lg-end justify-content-start" id="navbarNav">
                    <div class=" navbar-nav align-items-center ">
                        <a class="nav-link active d-none d-lg-block" href="tel:+ 998 (70) 202-01-01">+ 998 (70)
                            202-01-01</a>

                        <div class="dropdown nav-link active">
                            <button class=" border-0 " type="button" id="dropdownMenuButton"
                                    style="background: transparent"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Номера
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                {% for room_info in r_all %}

                                    <a class="dropdown-item "
                                       href="{{ room_info.get_absolute_url }}"
                                       data-cost="{{ room_info.cost_day }}">
                                        {{ room_info.type }}
                                    </a>

                                {% endfor %}

                            </div>
                        </div>
                        <a class="nav-link active" href="{% url 'kitchen' %}">Ресторан</a>
                        <a class="nav-link active" href="{% url 'relax' %}">Отдых</a>
                        <div class="nav-link d-flex flex-column d-lg-none  number mt-auto text-center">
                            <div class="txt">Номер для брони:</div>
                            <a href="tel:+ 998 (70) 202-01-01">+ 998 (70) 202-01-01</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </header>


    <section class="section1">

        <div class="container info">
            <h2>Бронирование номера</h2>
            <form id="post_p" method="post" action="{% url  'post-booking' %}?slug={{ room.slug }}">
                {% csrf_token %}

                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-10  ">

                                <form class="personal-info">
                                    <h3 class="info-title">Личная информация</h3>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-4 col-form-label">Имя и
                                            фамилия</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="user_name" class="form-control" id="inputName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-4 col-form-label">Номер
                                            телефона</label>
                                        <div class="col-sm-8">
                                            <input type="tel" name="phone_number" pattern="+[0-9]{3}[0-9]{3}[0-9]{3}"
                                                   placeholder="+998 _ _ _ _ _ _ _ _ _"
                                                   class="form-control"
                                                   id="inputName">

                                            {#                                            <div data-errors-for="phone_number">#}
                                            {#                                                <small class="form-error"#}
                                            {#                                                       data-errors-when="patternMismatch">#}
                                            {#                                                    Please enter a valid phone number.#}
                                            {#                                                </small>#}
                                            {#                                            </div>#}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <small class="text-danger ">{{ message }}</small>
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
                                        <div class="col-sm-8">
                                            <input type="email" name="email" class="form-control" id="inputEmail3">
                                        </div>
                                    </div>

                                    <h3 class="pay-title">Способ оплаты </h3>
                                    <fieldset class="form-group row row-cols-1 row-cols-md-3  d-flex px-3">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio" name="pay" id="gridRadios1"
                                                   value="cash" checked>
                                            <label class="form-check-label" for="gridRadios1">
                                                Наличными
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pay" id="gridRadios2"
                                                   value="payme">
                                            <label class="form-check-label" for="gridRadios2">
                                                <img src="{% static 'img/booking/payme.png' %}" alt="">
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pay" id="gridRadios3"
                                                   value="click">
                                            <label class="form-check-label" for="gridRadios3">
                                                <img src="{% static 'img/booking/click.png' %}" alt="">
                                            </label>
                                        </div>


                                    </fieldset>
                                </form>

                                <p class="address">
                                    Оплатить наличными можно в нашем офисе в Ташкенте.
                                    Адрес: Шайхантахурский район, 45-12.
                                </p>
                                <a href="" class="location">
                                    Карта проезда
                                </a>


                            </div>
                        </div>
                        <div class="col-12 important px-0">
                            <h3>
                                Важно знать перед приездом
                            </h3>
                            <div class="paragraph d-flex">
                                <div>
                                    <img src="{% static 'img/room/v.png' %}" alt="" class="">
                                </div>
                                <sapn>У нас действует 100% предоплата любым удобным для вас способом</sapn>
                            </div>
                            <div class="paragraph d-flex">
                                <div>
                                    <img src="{% static 'img/room/v.png' %}" alt="" class="">
                                </div>
                                <sapn>При отмене брони за двое суток (48 часов), мы вернем вам полную стоимость,
                                    позже – 50% от всей суммы. В случае отмены брони в день приезда, предоплата не
                                    возвращается.
                                </sapn>
                            </div>
                            <div class="paragraph d-flex">
                                <div>
                                    <img src="{% static 'img/room/v.png' %}" alt="" class="">
                                </div>
                                <sapn>Заезд в номер в 14:00, выезд в 12:00.</sapn>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 ">
                        <input type="hidden" name="room" value="{{ room.type }}">
                        <input type="hidden" name="start_date" value="{{ request.GET.sd }}">
                        <input type="hidden" name="finish_date" value="{{ request.GET.sd }}">
                        <input type="hidden" name="order_cost" value="{{ room.cost_day }}">
                        <input type="hidden" name="days">
                        {#                        <input type="hidden" name="finish_date" value="{{ request.GET.ed }}">#}

                        <div class="col form mx-md-auto " style="width: 380px;">
                            <div class="form-group">
                                <div style="font-size: 25px;" class="mb-4 text-center"><b>Найти номер</b></div>
                                <span>Вид номера</span>
                                <div class="dropdown  p-0 d-flex align-items-center w-100">
                                    <button class="btn w-100 justify-content-center form-control" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        {{ room.type }}
                                    </button>
                                    <div class="dropdown-menu d-none" aria-labelledby="dropdownMenuButton">
                                        {% for room_info in r_all %}



                                            <a class="dropdown-item sect d-flex align-items-center"
                                                    {#                                           href="{{ room_info.get_absolute_url }}"#}
                                               data-cost="{{ room_info.cost_day }}">
                                                <span>{{ room_info.type }}</span>
                                                <div class="ml-auto">от {{ room_info.min_cost }} млн</div>
                                            </a>

                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <span>Прибытие</span>
                                    </div>
                                    <div class="col-6">
                                        <span>Выезд</span>
                                    </div>
                                </div>
                                <input type="text" id="picker" class="form-control text-center" name="s&f_date"
                                        {% if not request.session.st_d == '' and not request.session.an_d == '' %}
                                       value="{{ request.session.st_d }} - {{ request.session.en_d }}"
                                        {% endif %}

                                        {% if request.GET.sd %}
                                       value="{{ request.GET.sd }} - {{ request.GET.ed }}"
                                        {% endif %} >
                                <span>Гостей</span>
                                <a class="btn border form-control text-left d-flex justify-content-between collapse1 mt-2  position-relative"
                                   data-toggle="collapse" href="#multiCollapseExample1" role="button"
                                   aria-expanded="false" aria-controls="multiCollapseExample1">
                                    2 взрослых <span style="font-size: 20px;">&#8249;</span>

                                </a>
                                <div class="collapse collapse12 multi-collapse position-absolute  w-75"
                                     id="multiCollapseExample1">
                                    <div class="card card-body w-100">
                                        <div class="col p-0 m-0 w-100">
                                            <div
                                                    class="persons d-flex justify-content-between align-items-center w-100 ">
                                                <div>
                                                    <div>
                                                        <b>
                                                            Взрослый
                                                        </b>
                                                    </div>
                                                    <div class="mini-info">
                                                    </div>
                                                </div>
                                                <div class="number-input ml-auto">
                                                    <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="minus">-
                                                    </button>
                                                    <input class="quantity" min="0" name="quantity" value="1"
                                                           type="number">
                                                    <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus">+
                                                    </button>
                                                </div>
                                            </div>

                                            <div
                                                    class="persons d-flex justify-content-between align-items-center w-100 ">
                                                <div>
                                                    <div>
                                                        <b>
                                                            Ребенок
                                                        </b>
                                                    </div>
                                                    <div class="mini-info">
                                                        до 8 лет
                                                    </div>
                                                </div>
                                                <div class="number-input ml-auto">
                                                    <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="minus">-
                                                    </button>
                                                    <input class="quantity" min="0" name="quantity" value="0"
                                                           type="number">
                                                    <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus">+
                                                    </button>
                                                </div>
                                            </div>

                                            <div
                                                    class="persons d-flex justify-content-between align-items-center w-100 ">
                                                <div>
                                                    <div>
                                                        <b>
                                                            Младенец
                                                        </b>
                                                    </div>
                                                    <div class="mini-info">
                                                        до 3 лет
                                                    </div>
                                                </div>
                                                <div class="number-input ml-auto">
                                                    <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="minus">-
                                                    </button>
                                                    <input class="quantity" min="0" name="quantity" value="0"
                                                           type="number">
                                                    <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus">+
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <span
                                        class="d-flex align-items-center form-control border-0 text-left chack py-0 h-auto">
                                    <input class="" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label ml-2" for="inlineCheckbox1">Домашнее животное</label>
                                </span>
                                <div class="form-control border-0 mt-0 p-0  h-auto total_cost"
                                     style="font-size: 20px; text-align: center;"><b
                                        class="total_cost_e" data-cost="{{ room.cost_day }}">{{ room.cost_day }} млн
                                    сумов</b></div>
                                <a>
                                    <button type="submit" class="btn w-100 booking">Забронировать</button>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-2">
                    <img src="{% static 'img/logo.svg' %}" class="img-fluid" alt="" srcset="">
                </div>

                <div class="col-lg-2 col-6 px-sm-2 pr-0 ">
                    <div class="span">
                        Карта сайта
                    </div>
                    <div class="a">
                        <a href="{% url 'room-name' room.slug %}">
                            Номера
                        </a>
                    </div>
                    <div class="a">
                        <a href="{% url 'kitchen' %}">
                            Ресторан
                        </a>
                    </div>
                    <div class="a">
                        <a href="">
                            Отдых
                        </a>
                    </div>
                </div>
                <br>
                <br>

                <div class="col-lg-3 col-6 px-sm-2 p-0 footer_100">
                    <div class="span">
                        Контакты
                    </div>
                    <div class="a">
                        <a href="tel: + 998 (70) 202-01-01">
                            + 998 (70) 202-01-01
                        </a>
                    </div>
                    <div class="a">
                        <a href="mailto: heavensg@gmail.com">
                            heavensg@gmail.com
                        </a>
                    </div>
                </div>

                <div class="col-lg-5 d-flex flex-column text-lg-right text-center justify-content-lg-end ">

                    <div class="d-flex social justify-content-lg-end justify-content-center">
                        <a target="_blank" href="https://www.facebook.com/heavensgardenuzb/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a target="_blank" href="https://t.me/hghotel">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/heaven.s_garden/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>OOO “HEAVEN’S GARDEN” 2019</div>
                </div>
            </div>
        </div>
    </footer>

</section>


<script src="{% static 'js/jquary.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://kit.fontawesome.com/cb3bbb09f5.js" crossorigin="anonymous"></script>

</body>

</html>